:root {
    --font-family-primary: "Poppins", sans-serif;
    --font-family-secondary: "Poppins", sans-serif;
    --font-size-primary: 3rem;
    --color-primary: #00bfff;
}

/* Selection */
::-moz-selection { /* Code for Firefox */
    color: white;
    background: var(--color-primary);
}
  
  ::selection {
    color: white;
    background: var(--color-primary);
}

/* Animation */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* animated fadeIn */
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}


/* -------------- */
/*    Page CSS    */
/* -------------- */

html {
    scroll-behavior: smooth;
    /* background-color: var(--background-color) !important; */
}  

body {
    font-family: var(--font-family-secondary) !important;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}


/* Navbar */
.navbar {
    padding: 2rem 0;

    .navbar-brand {

        .navbar-item {
            background: none;
        }
    
        a {
            span {
                color: var(--color-primary);
                font-weight: 600;
                font-size: 1.3rem;
            }
        }
    
        a:focus {
            background: none;
        }
    }

}

.navbar-end {
    .navbar-item {
        a:hover {
            background-color: #00bfff1e;
        }
    }
}

/* Hero Section */

.hero-body {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-weight: 300;
        margin: 3rem 0rem 4rem 0 !important;
    }

    .columns {
        .column {
            /* center hero image */
            img {
                width: 70%;
                margin: auto;
                display: block;                
            }

            a {
                background-color: var(--color-primary);
                padding: 1rem 2rem;
                color: white;
                font-weight: 500;
                border-radius: 10px;
            }

            a:hover {
                background-color: #00bfffb2;
            }
        }
    }
}





/* Media Query */
@media screen and (max-width: 1220px) {

    /* Navbar */
    .navbar {
        padding: 2rem 0 0 0;
    }

    /* Hero section */
    .hero-body {
        h1 {
            font-size: 2rem;
        }

        .columns {
            .column:nth-child(2) {
                margin-top: 4rem;
            }
        }
    }
}