:root {
    --font-family-primary: "Poppins", sans-serif;
    --font-family-secondary: "Poppins", sans-serif;
    --font-size-primary: 3rem;
    --color-primary: #0098E6;
}


/* Light theme */
[data-theme=light] {
  /* Update CSS variables */

    .middle-wrapper,
    .content {
        background-color: #fafafa !important;
    }

}


/* Dark theme */
[data-theme=dark] {
  /* Update CSS variables */

    .middle-wrapper,
    .content {
        background-color: #191b20 !important;
    }

}


/* Selection */
::-moz-selection { /* Code for Firefox */
    color: white;
    background: var(--color-primary);
}
  
  ::selection {
    color: white;
    background: var(--color-primary);
}

/* Animation */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* animated fadeIn */
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}


/* Bulma reset */
.columns,
.column {
    padding: 0 !important;
    margin: 0 !important;    
}

.grid,
.cell {
    margin-top: 0 !important;
}

.card-image,
.content {
    margin-top: 0 !important;
}


/* -------------- */
/*    Page CSS    */
/* -------------- */

html {
    scroll-behavior: smooth;
    /* background-color: var(--background-color) !important; */
}  

body {
    font-family: var(--font-family-secondary) !important;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

/* Webcopy message */
.msg {
    font-size: 1.3rem !important;
    line-height: 3rem !important;
}


/* Navbar */
.navbar {
    padding: 2rem 0;

    .navbar-brand {

        .navbar-item {
            background: none;
        }
    
        a {
            span {
                color: var(--color-primary);
                font-weight: 600;
                font-size: 1.3rem;
            }
        }
    
        a:focus {
            background: none;
        }
    }

}

.navbar-end {
    .navbar-item {
        a:hover {
            background-color: #00bfff41;
        }
    }

    button {
        background-color: var(--color-primary);
        color: white;
        padding: 1rem 2rem;
        margin-left: 2rem;
        border-radius: 10px;
    }

    button:hover {
        background-color: #00bfff;
    }
}

/* Hero Section */

.hero-body {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-weight: 300;
        margin: 3rem 0rem 4rem 0 !important;
        line-height: 2rem;
    }

    .columns {
        .column {
            /* center hero image */
            img {
                width: 70%;
                margin: auto;
                display: block;                
            }

            a {
                background-color: var(--color-primary);
                padding: 1rem 2rem;
                color: white;
                font-weight: 500;
                border-radius: 10px;
            }

            a:hover {
                background-color: #00bfff;
            }
        }
    }
}


/* Sections */
.section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem !important;

    h2 {
        margin-bottom: 2rem !important;
        text-align: center;
    }

    div {
        align-items: center;
        margin-top: 8rem;
    }

    .img-group img {
        width: 6rem;
    }

    img {
        margin-bottom: 2rem;
    }

    p {
        text-align: center;
        line-height: 2rem;
    }

    ul {

        li {
            line-height: 3rem;
            display: flex;
        }

        /* Replace list-style */
        li::before {
            content: url("../icons/checkmark.svg");
            transform: scale(1.5);
            margin-right: 1.5rem;
        }
    }

    .benefits-list li::before {
        content: url("../icons/checkmark.svg");
        transform: scale(1);
        margin-right: 1.5rem;

    }

}

#services.section {
    padding: 4rem 0 0 0;
}


.middle-wrapper {
    padding: 8rem 0;
    margin-top: 10rem !important;

    .columns,
    .column {
        
        .middle-img {
            width: 100%;
            height: 500px;
            object-fit: cover;
            border-radius: 15px
        }
    
    }

    .column:first-child {
        margin: 0 2.8rem !important;
    } 

    .column:nth-child(2) {
        padding: 8% !important;
    }

}

.benefits-wrapper {
    padding: 6rem 0;

    .column {
        padding: 0 2rem !important;
    }

    .column:first-child {
        /* margin-left: 2.8rem !important; */

        p, li {
            /* font-size: 1.2rem; */
        }
    } 

    .column:nth-child(2) {
        /* padding: 8% !important; */
    }
}


/* Blog section */
#blog {
    margin-bottom: 5rem !important;

    .flex {
        margin: 0 !important;
    }
    
    div.grid {
        flex-direction: row;
        /* margin-top: 4rem !important; */

        .cell {
            
            border-radius: 15px;
            margin-bottom: 0;

            .image {
                img {
                    margin-bottom: 0;
                }
            }
        
            .content {

                border-radius: 0 0 15px 15px;
                padding: 2rem;

                p {
                    text-align: left;
                }
            }

        }
    }

}

/* Clients section */
#clients {
    .clients-list li {
        margin-left: 4.5rem !important;
    }
}


/* Media Query */

@media screen and (max-width: 1220px) {

    /* Navbar */
    .navbar {
        padding: 2rem 0 0 0;
    }

    /* Hero section */
    .hero-body {
        h1 {
            font-size: 2rem;
        }

        .columns {
            .column:nth-child(2) {
                margin-top: 5rem !important;
            }
        }
    }

    /* Section wrapper */
    .section-wrapper {
        ul {

            li {
                font-size: 1rem;
            }
    
            /* Replace list-style */
            li::before {
                transform: scale(1.1);
            }
        }
    
        .benefits-list li::before {
            transform: scale(1.1);
        }
    }

    /* Image group */
    .img-group img {
        width: 3.5rem !important;
    }

    /* Clients section */
    #clients {
    .clients-list li {
        margin-left: 1rem !important;
    }
}

}


@media screen and (max-width: 770px) {
    /* Hero section */
    .hero-body {
        .columns {
            .column:first-child {
                /* margin: auto; */
                text-align: center;
            }
        }
    }
}


@media screen and (max-width: 400px) {

    /* Header */
    header.container {

        .navbar-brand {
            .navbar-item {
                padding: 0;
            }
        }
    }

    /* About section */
    #about {

        .container {
            padding: 0 !important;
        }
    }


    /* Image group */
    .img-group img {
        width: 2.5rem !important;
    }
}